<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vst.rxjava20">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RxDemo1Activity" />
        <activity android:name=".RxRxlifecycleActivity" />
        <activity android:name=".RxRetrofitActivity" />
        <activity android:name=".RxMapActivity" />
        <activity android:name=".RxActionActivity" />
        <activity android:name=".RxBackPressActivity" />
        <activity android:name=".RxBindActivity" />
        <activity android:name=".RxFragmentActivity" />
        <activity android:name=".RxErrorActivity" />
        <activity android:name=".RxCreateActivity" />
        <activity android:name=".CombinationActivity" />
        <activity android:name=".FilterActivity" />
        <activity android:name=".JudgeActivity" />
        <activity android:name=".MathActivity" />
        <activity android:name=".TransformActivity" />
        <activity android:name=".LinkActivity" />
        <activity android:name=".RxLifeActivity" />
        <activity android:name=".BlockActivity" />
        <activity android:name=".ThreadActivitgy" />
    </application>

</manifest>